.js-animate {
  &.is-animated {
    opacity: 1;
    transform: translate(0, 0);
    transition: opacity .9s $ease-cubic, transform .5s $ease-cubic;
  }

  &.is-hidden {
    opacity: 0;
  }

  &.fades-to-right {
    transform: translateX(remcalc(-25));
  }

  &.fades-to-bottom {
    transform: translateY(remcalc(-25));
  }
}
