.blog-post-section {
  padding: remcalc($nav-height + 70) 0 0;
  @include breakpoint(tablet) { padding: remcalc(150) 0 0; }
  @include breakpoint(medium) { padding: remcalc(210) 0 0; }
}

.date-author-wrapper {
  margin: 0 0 get($spacings, 'medium');

  @include breakpoint(tablet) { 
    display: flex; 
    justify-content: space-between;
  }

  .post-date {
    $_LINE_POSITION: get($spacings, 'large');

    position: relative;
    display: block;
    margin: 0 0 get($spacings, 'medium');
    font-size: get($fontsize, 'small');
    word-spacing: remcalc(5);
    @include breakpoint(tablet) { margin: 0; }
  
    &:before {
      position: absolute;
      top: (- $_LINE_POSITION) / 2;
      content: '';
      display: block;
      width: remcalc(50);
      height: 1px;
      background: $black;
    }
  }

  .post-author {
    color: $black;
    font-size: get($fontsize);
    text-decoration: none;
  }
}

/* Image and Video */
.single-post-image {
  display: block;
  width: 100%;
  height: auto;
  max-height: none;
  object-fit: initial;

  &.header-image { 
    height: 100%;
    max-height: remcalc(170);
    object-fit: cover;
    @include breakpoint(small) { max-height: remcalc(300); }
    @include breakpoint(tablet) { max-height: remcalc(350); }
    @include breakpoint(medium) { max-height: remcalc(560); }
  }
}

/* Image and Video Spacing */
.blog-text-content + .single-post-image,
.single-post-image + .blog-text-content { 
  margin: get($spacings, 'large') 0 0; 
  @include breakpoint(tablet) { margin: get($spacings, 'xlarge') 0 0; }
}

/* Image and Video Shadow */
.post-shadow { box-shadow: 5px 5px 30px 0 rgba($black, .3); }

/* Blog Post */
.blog-content {
  margin: get($spacings, 'large') 0;
  @include breakpoint(tablet) { margin: get($spacings, 'large') auto; }

  /* Width of the post's text content */
  .blog-text-content { 
    @include breakpoint(tablet) { width: 90%; }
  }


  /* Headings */
  @for $i from 1 through 6 {
    .single-post-heading,
    h#{$i} {
      font-weight: get($fontweight, 'bold');
      line-height: 1.7;
    }
  
    /* Spacings between h tags */
    .single-post-heading,
    h#{$i} + p,
    h#{$i} { 
      margin: get($spacings, 'large') 0 0; 
      @include breakpoint(tablet) { margin: get($spacings, 'xlarge') 0 0; }
    }

    .single-post-heading + ul,
    h#{$i} + ul { margin: get($spacings, 'medium') 0 0; }
  }

  /* Headings Sizes */
  .single-post-title,
  h1 { 
    font-size: get($fontsize, 'xregular');
    @include breakpoint(tablet) { font-size: get($fontsize, 'regular'); }
  }

  .single-post-title {
    @include breakpoint(medium) { 
      max-width: remcalc(580); 
      margin-left: auto; 
      margin-right: 0; 
    }
  }

  .single-post-h2,
  h2 { 
    font-size: get($fontsize, 'xregular'); 
    @include breakpoint(tablet) { font-size: get($fontsize, 'regular'); }
  }

  .single-post-h3,
  h3 { 
    font-size: get($fontsize, 'medium'); 
    @include breakpoint(tablet) { font-size: get($fontsize, 'xregular'); }
  }

  .single-post-h4,
  h4 { 
    font-size: get($fontsize, 'xmedium'); 
    @include breakpoint(tablet) { font-size: get($fontsize, 'medium'); }
  }

  .single-post-h5,
  h5 { 
    font-size: get($fontsize, 'small'); 
    @include breakpoint(tablet) { font-size: get($fontsize, 'xmedium'); }
  }

  .single-post-h6,
  h6 { 
    font-size: get($fontsize, 'xsmall');
    @include breakpoint(tablet) { font-size: get($fontsize, 'small'); }
  }

  /* Paragraphs */
  .single-post-paragraph,
  p {
    font-size: get($fontsize);
    line-height: 1.92;
    letter-spacing: .8px;

    @include breakpoint(tablet) {
      font-size: get($fontsize, 'medium');
      line-height: 1.75;
    }
  }

  /* Paragraph Spacing */
  p + p { 
    margin: get($spacings, 'medium') 0 0;
    @include breakpoint(tablet) { margin: get($spacings, 'large') 0 0; }
  }

  /* Bold and Strong */
  strong,
  b { 
    font-size: get($fontsize, 'medium');
    font-weight: get($fontweight, 'semibold');
    line-height: 1.75;
    letter-spacing: .4px;

    @include breakpoint(tablet) { 
      font-size: remcalc(22); 
      font-weight: get($fontweight);
      line-height: 1.45;
    }
  }

  /* Quotes with spacing */
  .single-post-quote,
  blockquote,
  q {
    display: block;
    margin: get($spacings, 'large') 0 0; 
    font-size: remcalc(18);
    font-style: italic;
    font-weight: get($fontweight, 'semibold');
    line-height: 1.52;

    @include breakpoint(tablet) { 
      margin: get($spacings, 'xlarge') 0 0; 
      font-size: remcalc(24); 
    };
  }

  /* Text List */
  .single-post-list,
  ul {
    font-size: get($fontsize, 'small');
    line-height: 1.67;
    letter-spacing: .8px;

    @include breakpoint(tablet) { 
      font-size: get($fontsize, 'medium');
      line-height: 2.5;
    }

    .single-post-element,
    & > li {
      margin: 0 0 remcalc(12) remcalc(16);
      padding: 0 0 0 remcalc(12);
      list-style-image: url('../img/bullet_fill.svg');
    }

    & > ul,
    .single-post-list-2 {

      .single-post-element-2,
      & > li {
        margin: 0 0 remcalc(12) remcalc(41);
        list-style-image: url('../img/bullet_empty.svg')
      }
    } 
  }

  /* Text list spacing */
  .blog-text-content + ul { 
    margin: get($spacings, 'large') 0 0;
    @include breakpoint(tablet) { margin: get($spacings, 'xlarge') 0 0; }
  }

  /* Blog slider list */
  .blog-slider {
    overflow-x: hidden;
    display: flex;

    .blog-slider-element {
      flex: 0 0 100%;
      padding: 0;
      margin: 0;
      list-style: none;
      transition: all .5s $ease-cubic;
      pointer-events: none;
    }
  }
}

.blog-slider-number {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: get($spacings, 'medium') 0 0;

  @include breakpoint(medium) { margin: get($spacings, 'medium') remcalc(-100) 0 0; }
  
  .slide-number { 
    padding: get($spacings, 'small') 0;
    font-size: get($fontsize);
    letter-spacing: .5px;
    color: $black;
    margin: 0 get($spacings, 'small') 0 0;
  }

  .underline {
    width: remcalc(150);
    height: 1px;
    transition: width .5s $ease-cubic;
    background: $black;
  }
}
