.blog-posts {
  @include breakpoint(tablet) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.blog-post {
  margin-bottom: get($spacings, 'large');

  /* Overall Styling */
  .post-image-link {
    display: block;
    margin-bottom: get($spacings, 'medium');
  }

  .post-image {
    display: block;
    width: 100%;
    height: remcalc(150);
    object-fit: cover;

    @include breakpoint(small) {
      overflow: hidden;
      border-radius: remcalc(4);
    }
  }

  .post-title-link {
    text-decoration: none;
    color: $black;

    .post-title {
      $_LINE_POSITION: get($spacings, 'large');
      position: relative;
      font-size: get($fontsize, 'xmedium');
      font-weight: get($fontweight, 'bold');
      line-height: 1.33;
      width: 70%;
      margin-bottom: $_LINE_POSITION;

      &:after {
        position: absolute;
        bottom: (- $_LINE_POSITION) / 2;
        content: '';
        display: block;
        width: remcalc(40);
        height: 1px;
        background: $black;
      }
    }
  }

  .post-date {
    font-size: get($fontsize, 'small');
    word-spacing: remcalc(5);
  }


  /* First Post */
  &:first-child {
    @include breakpoint(tablet) { flex: 0 0 100%; }

    .post-image {
      width: calc(100% + #{remcalc( 2 * $content-container-padding)});
      height: remcalc(500);
      margin: 0 remcalc(-$content-container-padding);

      @include breakpoint(small) {
        width: 100%;
        margin: 0 auto;
      }
    }

    .post-title {
      @include breakpoint(tablet) { font-size: get($fontsize, 'regular'); }
    }
  }

  /* Rest Of The Posts */
  &:not(:first-child) {
    @include breakpoint(tablet) {
      width: 100%;
      max-width: remcalc(530);
      flex: 0 1 47%;
    }

    .post-image {
      box-shadow: 5px 5px 20px 0 rgba($black, .3);
      @include breakpoint(tablet) { height: remcalc(280); }
    }

    .post-title {
      @include breakpoint(tablet) { font-size: get($fontsize, 'xregular'); }
    }
  }
}

/* Blog posts subpage */
.blog-posts-header-section {
  padding: remcalc($nav-height + 70) 0 remcalc(70);

  @include breakpoint(medium) { padding: remcalc(180) 0 remcalc(90); }

  .blog-posts-header {
    font-size: get($fontsize, 'xregular');
    font-weight: get($fontweight, 'bold');
    text-align: center;

    @include breakpoint(tablet) { font-size: get($fontsize, 'regular'); }
  }
}

.blog-posts-subtitle {
  margin: 0 0 get($spacings, 'small');
  font-size: get($fontsize, 'small');
  font-weight: get($fontweight, 'semibold');
  letter-spacing: .2px;

  &.is-post {
    margin: 0 0 get($spacings, 'medium');
  }

  @include breakpoint(tablet) { 
    margin: 0 0 get($spacings, 'medium');
    font-size: get($fontsize, 'medium');
  }
}

.blog-tags-list {
  margin: 0 0 get($spacings, 'small');
  font-size: get($fontsize, 'small');

  @include breakpoint(tablet) { margin: 0 0 get($spacings, 'large'); }

  &.is-post { margin: 0 0 get($spacings, 'large') ;}
  
  .blog-tags-element {
    display: inline-block;
    
    &:not(:last-child) { margin: 0 get($spacings, 'small') get($spacings, 'small') 0; }
    &:last-child { margin: 0 0 get($spacings, 'small'); }

    & > a {
      display: block;
      padding: remcalc(6) remcalc(25);
      background: $wild-sand;
      border-radius: remcalc(15);
      color: $black;
      text-decoration: none;
      transition: background .6s $ease-cubic;

      &:hover {
        background: $alto;
      }

      @include breakpoint(tablet) { padding: remcalc(7) remcalc(32); }
    }
  }
}

.blog-authors-list {
  margin: 0 0 get($spacings, 'large') 0;
  font-size: get($fontsize, 'small');
  list-style: disc inside;

  @include breakpoint(tablet) { margin: 0 0 get($spacings, 'xlarge') 0; }

  .blog-authors-element {
    letter-spacing: .4px;

    &:not(:last-child) { 
      margin: 0 0 get($spacings, 'small') 0;

      @include breakpoint(tablet) { margin: 0 0 remcalc(13) 0; }
    }
  
    &:before {
      content: '';
      display: inline-block;
      width: remcalc(6);
      height: remcalc(1);
    }

    & > a {
      color: $black;
      text-decoration: none;
      
      &.is-active { font-weight: get($fontweight, 'bold'); }
    }
  }
}

/* Posts Subpage Elements */
.blog-posts {
  &.is-posts-subpage {
    .blog-post,
    .blog-post:first-child {
      @include breakpoint(tablet) {
        width: 100%;
        max-width: remcalc(350);
        flex: 0 1 32%;
      }
  
      .post-image {
        margin: 0;
        width: 100%;
        height: remcalc(150);
        box-shadow: 5px 5px 20px 0 rgba($black, .3);
        @include breakpoint(small) { height: remcalc(220); }
        @include breakpoint(tablet) { height: remcalc(280); }
      }
  
      .post-title {
        width: 100%;

        @include breakpoint(tablet) { font-size: get($fontsize, 'xregular'); }
      }
    }

    /* First Page Posts */
    &.is-first-page {
      .blog-post:first-child,
      .blog-post:nth-child(2) {
        @include breakpoint(tablet) {
          max-width: remcalc(540);
          flex: 0 1 49%;
        }
      }
    }
  }
}

/* Single Post Elements */
.blog-posts {
  &.is-post {
    display: flex;
    justify-content: space-between;
    margin: 0 0 get($spacings, 'medium');

    .blog-post {

      &,
      &:first-child {
        max-width: remcalc(280);
        flex: 0 0 48%;

        @include breakpoint(small) { flex: 0 0 32%; }

        .post-title {
          margin: 0;
          &:after { display: none; }
  
          @include breakpoint(tablet) { font-size: get($fontsize, 'medium'); }
        }
      }

      &:last-child { 
        display: none;

        @include breakpoint(small) { display: block; }
      }

      &:first-child .post-image,
      .post-image { 
        height: remcalc(100);

        @include breakpoint(tablet) { height: remcalc(150); }
      }
    }
  }
}

/* Pagination */
.page-num { 
  align-self: center;
  font-size: get($fontsize, 'small');
  letter-spacing: 2px;
}

.underline-btn {
  &.is-posts-subpage {
    &:before {
      display: none;
      
      @include breakpoint(tablet){ display: block; }
    }
  }
}
