/* Variables */
$_TOP_LINE_HEIGHT: 50 !default;
$_BOTTOM_LINE_HEIGHT: 280 !default;
$_LINE_POSITION: 24% !default;

.blog {
  padding: 0 0 get($spacings, 'xlarge');

  &.is-posts-subpage { padding: 0 0 get($spacings, 'medium'); }

  .blog-heading-container {
    display: flex;
    justify-content: flex-end;
  }
}

.blog-heading-wrapper {
  position: relative;
  top: remcalc(- $_TOP_LINE_HEIGHT);
  display: inline-block;
  overflow: hidden;

  .blog-line-wrapper {
    position: relative;
    left: $_LINE_POSITION;
    height: remcalc($_TOP_LINE_HEIGHT + $_BOTTOM_LINE_HEIGHT);
    margin-bottom: get($spacings, 'small');

    .blog-line-top,
    .blog-line-bottom {
      display: block;
      width: 1px;
    }

    .blog-line-top {
      height: remcalc($_TOP_LINE_HEIGHT);
      background-color: $white;
    }

    .blog-line-bottom {
      //height: remcalc($_BOTTOM_LINE_HEIGHT); height is set in _animations.scss
      background-color: $black;
    }
  }

  .blog-heading {
    font-size: get($fontsize, 'large');
    font-weight: get($fontweight, 'extrabold');
    letter-spacing: 1px;
    margin-bottom: get($spacings, 'medium');

    @include breakpoint(tablet) { font-size: get($fontsize, 'xgiant'); }
    @include breakpoint(medium) { font-size: get($fontsize, 'giant'); }
  }

  .scroll-down {
    position: initial;
    transform: initial;
    margin-left: calc(#{$_LINE_POSITION} - #{remcalc($_SCROLL_TOP_SIZE / 2)});

    @include breakpoint(small) {
      width: remcalc($_SCROLL_TOP_SIZE);
      height: remcalc($_SCROLL_TOP_SIZE);
    }

    @include breakpoint(medium) {
      $_TABLET_BUTTON_SIZE: $_SCROLL_TOP_SIZE * 1.14;

      width: remcalc($_TABLET_BUTTON_SIZE);
      height: remcalc($_TABLET_BUTTON_SIZE);
      margin-left: calc(#{$_LINE_POSITION} - #{remcalc($_TABLET_BUTTON_SIZE / 2)});
    }
  }
}
