.container {
  margin: 0 auto;
  padding: 0 remcalc($content-container-padding);
  width: 100%;
  max-width: remcalc($content-container);

  &.is-aligned-left {
    @include breakpoint(tablet) { padding-right: remcalc(170); }
  }

  &.is-blog {
    max-width: remcalc($blog-container);
  }
}

.blog-content {
  @include breakpoint(tablet) {
    width: 100%;
    max-width: remcalc($blog-content);
  }
}

.reduced-content {
  width: 100%;

  @include breakpoint(medium) { max-width: remcalc($content-container-small); }
}
/* Horizontal Rule */
.horizontal-rule {
  border: 0;
  height: 1px;
  width: 100%;
  background: rgba($white, .2);
  margin: 0 0 get($spacings, 'medium');

  &.is-dark { background: rgba($black, .1); }
  @include breakpoint(medium) { margin: 0 0 get($spacings, 'large'); }
}

/* Box Shadow */
