$_SVG_SIZE_MOBILE: 80 !default;
$_SVG_SIZE_DESKTOP: 100 !default;
$_SVG_SPACING_TABLET: 25 !default;
$_SVG_SPACING_DESKTOP: 35 !default;

.contractors {
  padding-bottom: remcalc(120);

  @include breakpoint(medium) { padding-bottom: remcalc(300); }

  .contractors-container {
    @include breakpoint(tablet) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

.contractors-header {
  margin-bottom: get($spacings, 'xlarge');

  .contractors-heading {
    font-size: get($fontsize, 'large');
    font-weight: get($fontweight, 'extrabold');
    line-height: 1.25;
    letter-spacing: 1px;
    margin-bottom: get($spacings, 'medium');

    @include breakpoint(medium) { font-size: get($fontsize, 'xgiant'); }
  }

  .contractors-subheading {
    font-size: get($fontsize, 'medium');
    font-weight: get($fontweight, 'semibold');
    line-height: 1.56;
    letter-spacing: .5px;

    @include breakpoint(medium) { font-size: get($fontsize, 'xregular'); }
  }
}

/* Slider Styling */
.contractors-slider {
  margin-bottom: get($spacings, 'xlarge');
  width: 100%;

  @include breakpoint(tablet) {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: flex-end;
  }

  @include breakpoint(medium) { margin: 0; }

  /* Gradient Line */
  .contractors-line-wrapper {
    display: none;

    @include breakpoint(tablet) {
      display: flex;
      justify-content: center;
      flex: 0 1 35%;
    }

    .contractors-line {
      @include breakpoint(tablet) {
        display: block;
        width: remcalc(160);
        height: 1px;
        background: linear-gradient(90deg, $gradient-dark, $gradient-light);
        margin: 0 auto;
      }

      @include breakpoint(medium) { width: remcalc(250); }
    }
  }

  .contractors-list {
    display: flex;
    flex: 0 1 65%;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;

    /* older spec implementation */
    scroll-snap-destination: 0% 100%;
    scroll-snap-points-x: repeat(100%);

    @include breakpoint(tablet) {
      flex-wrap: wrap;
      justify-content: flex-start;
      overflow: visible;
    }
}

  .contractors-list-element {
    margin-right: remcalc(50);
    scroll-snap-align: start;

    @include breakpoint(tablet) {
      display: flex;
      justify-content: flex-end;
      flex: 0 0 33%;
      max-width: 33%;
    }

    &:nth-child(-n + 3) {
      @include breakpoint(tablet) { margin: 0 0 get($spacings, 'medium'); }
      @include breakpoint(medium) { margin: 0 0 remcalc(100); }
    }

    &:not(:nth-child(-n + 3)) {
      @include breakpoint(tablet) { margin: 0; }
      @include breakpoint(medium) { margin: 0; }
    }

    & > svg {
      width: remcalc($_SVG_SIZE_MOBILE);
      height: 100%;
      fill: $alto;
      cursor: pointer;
      transition: fill .4s $ease-cubic;

      &:hover { fill: $black; } //placeholder color @todo
      @include breakpoint(tablet) { width: remcalc($_SVG_SIZE_DESKTOP); }
    }

    /* Active and hover state */
    &.is-active  {
      & > svg { fill: $black; } // placeholder color @todo
    }
  }
}

/* Single Contractor Styling */
.contractor-wrapper {
  .contractor-details {
    display: none;

    &.is-active { display: block; }
  }

  .contractor-name {
    font-size: get($fontsize, 'regular');
    font-weight: get($fontweight, 'bold');
    line-height: 1.21;
    margin-bottom: get($spacings, 'medium');

    @include breakpoint(medium) { font-size: get($fontsize, 'large'); }
  }

  .contractor-description {
    font-size: get($fontsize);
    font-weight: get($fontweight, 'light');
    line-height: 1.92;
    letter-spacing: .5px;
    width: 100%;
    max-width: remcalc(400);

    @include breakpoint(medium) {
      font-size: get($fontsize, 'xmedium');
      line-height: 1.79;
    }
  }
}
