.map-section {
  padding: get($spacings, 'large') 0;
}

.map-area {
  display: none;
}

.map-content-area {

}

.map-intro {
  padding: 0 0 get($spacings, 'large');
}

.map-main-header {
  display: inline-block;
  margin: 0 0 get($spacings, 'medium');
  padding: 0 0 get($spacings, 'small');
  border-bottom: 1px solid $black;
  font-size: get($fontsize, 'regular');
  font-weight: get($fontweight, 'semibold');
}

.map-paragraph {
  display: block;
  width: 100%;
  font-size: get($fontsize, 'small');
  line-height: 1.65;

  &:not(:last-child) {
    margin: 0 0 get($spacings, 'medium');
  }
}

.map-accordion-item {
  padding: 0 0 get($spacings, 'small');

  .map-accordion-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 get($spacings, 'small');
    font-size: get($fontsize, 'medium');
    font-weight: get($fontweight, 'semibold');
    cursor: pointer;

    .arrow {
      width: remcalc(14);
      height: remcalc(14);
      transition: transform .6s $ease-cubic;
    }
  }

  .map-accordion-content {
    height: auto;
    font-size: get($fontsize, 'small');
    line-height: 1.75;
    overflow: hidden;
    max-height: 0;
    transition: max-height .6s $ease-cubic;
  }

  &.is-active {
    .map-accordion-title {
      .arrow {
        transform: rotateX(180deg);
      }
    }

    .map-accordion-content {
      max-height: remcalc(400);
    }
  }
}
