/* Home Header */
.header-home-section {
  background: #000 url('../img/header-sm.jpg') no-repeat;
  background-size: 160%;
  background-position: center;

  @include breakpoint(small) {
    background-image: url('../img/header-md.jpg');
    background-size: cover;
  }

  @include breakpoint(medium) { background-image: url('../img/header-lg.jpg'); }
  @include breakpoint(large) { background-size: remcalc(1400); }
}

.site-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92vh;

  .site-header-claim {
    position: relative;
    color: $white;
    letter-spacing: remcalc(2);
    font-size: get($fontsize, 'large');
    font-weight: get($fontweight, 'extrabold');

    @include breakpoint(small) { font-size: get($fontsize, 'huge'); }
    @include breakpoint(medium) { font-size: get($fontsize, 'xmega'); }
  }
}
